<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MrCy.Properties.Settings.db_MrCyConnectionString"
            connectionString="Data Source=92996974633A47E\\SQLEXPRESS;Initial Catalog=db_MrCy;Integrated Security=true"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>